/* Variables */ 

:root {

}

/* Body Selectors */ 

/* Nav Selectors */

.navbar {
    z-index: 9;
}

/* Carousel */

.carousel .carousel-item {
    height: 100vh;
    min-height: 300px;
}
  
.carousel-item img {
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      min-height: 500px;
}

/* Header */ 

/* Footer */

